<form class="form" [formGroup]="formGroup" (ngSubmit)="generateToken(formDirective)" #formDirective="ngForm">
  <mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput placeholder="Enter id" formControlName="id" [formControl]="myControl" [matAutocomplete]="auto"/>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id" (click)="fillNames(option)">
        {{option.id}} ({{option.first_name}} {{option.last_name}})
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Enter first name" formControlName="firstName" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter last name" formControlName="lastName" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Genre</mat-label>
    <input matInput placeholder="Enter genre" formControlName="genre" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Start</mat-label>
    <input matInput type="number" placeholder="Enter start" formControlName="start" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>End</mat-label>
    <input matInput type="number" placeholder="Enter end" formControlName="end" required/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Rating</mat-label>
    <mat-select formControlName="rating" placeholder="Select rating" required>
      <mat-option *ngFor="let rating of ratings" [value]="rating">{{rating}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="generated">
    <span class="url">URL: {{url}}</span>
  </div>
  <div class="form__buttons">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
